# Env / secrets
.env

# Python virtual envs
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db
# Ignore ALL .env files anywhere
*.env

# Python virtual envs
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Logs
*.log